[flake8]
max-line-length = 100
max-complexity = 10
extend-ignore = [
    E203,  # whitespace before ':'
    E501,  # line too long (handled by black)
    W503,  # line break before binary operator
    W504,  # line break after binary operator
]
exclude =
    .git,
    .hg,
    .megg,
    .mypy_cache,
    .tox,
    .venv,
    _build,
    buck-out,
    build,
    dist,
    node_modules,
    __pycache__,
    *.egg-info,
per-file-ignores =
    __init__.py: F401
    *.test.py: F401,F811